.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 55px;
    width: 145px;
    border: none;
    background: #056bfa27;
    border-radius: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }
  
  .lable {
    margin-top: 1px;
    font-size: 19px;
    line-height: 22px;
    color: #056DFA;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #056bfa49;
  }
  
  .button:hover .svg-icon {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-8deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(8deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  #kf{
      font-size: 30px;
      background-color: rgb(59, 56, 56);
      text-align: center;
      color: azure;
  }
  #zz{
      text-align: center;
  }